:root {
    --main-color: #0B1320;
    --secondary-color: #E7C639;
    --tertiary-color: #FFF;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--main-color);
}

.container-presentation{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5% 0 5% 0;
    gap: 17rem;
}

.text-presentation{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    padding-top: 3%;
}

.title-presentation{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-family: Gobold, sans-serif;
    font-size: 2.5rem;
    margin: 0;
    height: 8%;
    width: 72.8%;
}

.title-presentation h1{
    margin: 0;
    position: relative;
    transform: translateY(-63%);
    background: linear-gradient(to bottom, var(--secondary-color) 40%, var(--main-color) 80%);
    -webkit-background-clip: text; /* Applique l'arrière-plan uniquement au texte */
    -webkit-text-fill-color: transparent; /* Rend le texte transparent pour laisser apparaître le dégradé */
}

.text-presentation p{
    color: var(--tertiary-color);
    font-size: 1.3rem;
    font-family: Gobold, sans-serif;
    text-align: justify;
}

/* Image de présentation améliorée avec animation */
.image-presentation {
    position: relative; /* Permet de positionner l'image et son arrière-plan */
    width: 27%;
    margin-left: 8%;
    transition: transform 0.5s ease;
}

.image-presentation::before {
    content: '';
    position: absolute;
    bottom: 30%; /* Ajuste le décalage vertical */
    right: 25px; /* Ajuste le décalage horizontal */
    width: 100%;
    height: 73.5%;
    background-color: var(--secondary-color);
    z-index: 0; /* Place le fond derrière l'image */
    transition: all 0.3s ease;

}

.image-presentation:hover::before {
    bottom: 32%; /* Augmente le décalage au survol */
    right: 35px; /* Augmente le décalage au survol */
}

.image-presentation img {
    position: relative; /* Positionne l'image au-dessus de l'arrière-plan */
    width: 100%;
    z-index: 1; /* Place l'image devant */
    box-shadow: 0 10px 20px var(--shadow-color);
    transition: all 0.3s ease;
}

.image-presentation:hover img {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px var(--shadow-color);
}

/* Responsive design pour l'image uniquement */
@media screen and (max-width: 1024px) {
    .container-presentation {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .image-presentation {
        width: 50%;
        margin-left: 0;
    }

    .text-presentation {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .image-presentation {
        width: 70%;
    }
}